---
layout: home
---

<div class="section full-screen background-image-side">
	<div class="wrapper">
		<div class="columns column w-row">
			<div class="column herocontent w-col w-col-8">
				<h1 class="heading">Node.js framework<br></h1>
				<p class="short-paragraph">
					<b>
						Typetron is a modern NodeJs framework for building a fully-featured backend apps with
						Typescript.
					</b>
				</p>

				<p class="short-paragraph">
					<a class="button2 w-button github-button" href="https://github.com/typetron/typetron"
					   target="_blank">
						GITHUB
					</a>
				</p>
				<p class="short-paragraph">
					Join the newsletter to be the first to find out when updates are coming.
				</p>
				<div class="value-proposition-container">
					<div class="value-proposition-buttons">
						{% include newsletter.html %}
					</div>
				</div>

			</div>
			<div class="w-col w-col-4">
				<img alt="" class="image" src="images/hero1.png" width="400">
			</div>
		</div>
	</div>
</div>


<div class="div-block-9">
	<div class="section less-v-margin">
		<div class="wrapper">
			<div class="row-2">
				<div class="col lg-6">
					<img alt="" class="side-image" data-w-id="a2b6252f-4804-1566-b140-e9f96b8c4838"
						src="/images/performance.png" style="opacity:0" width="625">
				</div>
				<div class="col lg-1 hidden-lg-down"></div>
				<div class="col lg-4 sm-2 lg-vertical-align">
					<div class="sm-align-centre">
						<h2 class="ondark">Performance</h2>
						<p class="margin-bottom ondark">
							Being built in Typescript with fresh, modern and clean modules from scratch, Typetron
							offers the best performance out of the box, taking advanced of the native speed of
							Node.js.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section less-v-margin" id="Solutions">
		<div class="wrapper">
			<div class="row-2 sm-reverse">
				<div class="col lg-1 hidden-lg-down"></div>
				<div class="col lg-4 sm-2 lg-vertical-align">
					<div class="sm-align-centre">
						<h2 class="ondark">Code sharing</h2>
						<p class="margin-bottom ondark">One of the main advantages of Node.js is that you can use
														the server-side code in your front-end applications.
														Typetron helps you make the code reusability seamless
														between your backend and frontend.</p>
					</div>
				</div>
				<div class="col lg-1 hidden-lg-down"></div>
				<div class="col lg-6">
					<img alt="" class="side-image" data-w-id="6894a54a-7ec3-cf46-4a35-b936bb428dba"
						src="/images/sharing.png" style="opacity:0" width="625">
				</div>
			</div>
		</div>
	</div>
	<div class="section less-v-margin">
		<div class="wrapper">
			<div class="row-2">
				<div class="col lg-6">
					<img alt="" class="side-image" data-w-id="a2b6252f-4804-1566-b140-e9f96b8c4838"
						src="/images/scalability.png" style="opacity:0" width="625">
				</div>
				<div class="col lg-1 hidden-lg-down"></div>
				<div class="col lg-4 sm-2 lg-vertical-align">
					<div class="sm-align-centre">
						<h2 class="ondark">Scaling seamlessly</h2>
						<p class="margin-bottom ondark">
							Intelligently designed, beautifully crafted framework
							with user and developer needs in mind, Typetron offers the
							scalability feature out of the box if you want to build
							enterprise level apps.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<h1 class="text-center" style="margin-top: 50px;">How does it look like?</h1>
<div class="section">
	<div class="section less-v-margin">
		<div class="wrapper">
			<div class="row-2">
				<div class="col lg-3 sm-2 vertical-align">
					<div class="sm-align-centre">
						<h2 class="onlight">Controllers</h2>
						<p class="margin-bottom onlight">
						</p>
					</div>
				</div>
				<div class="col lg-1 hidden-lg-down"></div>
				<div class="col lg-8">
					<pre data-src="/code-examples/controller.ts" class="line-numbers"></pre>
				</div>
			</div>
			<div style="border-bottom: 1px solid #ddd;"></div>
		</div>
	</div>

	<div class="section less-v-margin">
		<div class="wrapper">
			<div class="row-2">
				<div class="col lg-3 sm-2 vertical-align">
					<div class="sm-align-centre">
						<h2 class="onlight">Entities</h2>
						<p class="margin-bottom onlight">
						</p>
					</div>
				</div>
				<div class="col lg-1 hidden-lg-down"></div>
				<div class="col lg-8">
					<pre data-src="/code-examples/entity.ts"></pre>
				</div>
			</div>
			<div style="border-bottom: 1px solid #ddd;"></div>
		</div>
	</div>

	<div class="section less-v-margin">
		<div class="wrapper">
			<div class="row-2">
				<div class="col lg-3 sm-2 vertical-align">
					<div class="sm-align-centre">
						<h2 class="onlight">Forms</h2>
						<p class="margin-bottom onlight">
						</p>
					</div>
				</div>
				<div class="col lg-1 hidden-lg-down"></div>
				<div class="col lg-8">
					<pre data-src="/code-examples/form.ts"></pre>
				</div>
			</div>
			<div style="border-bottom: 1px solid #ddd;"></div>
		</div>
	</div>

	<div class="section less-v-margin">
		<div class="wrapper">
			<div class="row-2">
				<div class="col lg-3 sm-2 vertical-align">
					<div class="sm-align-centre">
						<h2 class="onlight">Configuration</h2>
						<p class="margin-bottom onlight">
						</p>
					</div>
				</div>
				<div class="col lg-1 hidden-lg-down"></div>
				<div class="col lg-8">
					<pre data-src="/code-examples/config.ts"></pre>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="wrapper">
	<h2 style="text-align: center;">
		Join the newsletter to get notified about new features coming.
	</h2>
</div>


<div class="section">
	<div class="wrapper">
		{% include newsletter.html %}
	</div>
</div>
