<div class="section" style="padding-top: 0;">
	<div class="wrapper">
		<div class="row">
			<div class="columns-2 w-row">
				<div class="w-col w-col-3 table-of-contents">
					<ul>
						{% assign currentPage = page.name %}
						{% for item in include.toc_data %}
						{% assign itemPage = item.url | append: '.md' %}
						<li>
							<a class="{% if item.title == page.title or itemPage == currentPage or item.slug and item.slug == page.slug %}active{% endif %}" href="{{ item.url }}">
								{{ forloop.index }}. {{ item.title }}
							</a>
						</li>
						{% if item.subtitles[0] %}
						<ul>
							{% for entry in item.subtitles %}
							{% assign entryPage = entry.url | append: '.md' %}
							<li>
								<a class="{% if entryPage == currentPage %}active{% endif %}" href="{{ entry.url }}">
									{{ entry.title }}
								</a>
							</li>
							{% endfor %}
						</ul>
						{% endif %}
						{% endfor %}

					</ul>
				</div>
				<div class="w-col w-col-9 docs-content">
					{{content}}
				</div>
			</div>
		</div>
	</div>
</div>

<link href="/style/code-theme.css?{{site.time}}" rel="stylesheet">
<link href="/style/scss/tutorials.css?{{site.time}}" rel="stylesheet">
