---
---
.home-title {
	color: #333;
	text-decoration: none;
	font-size: 40px;
	font-weight: bold;
}

.footer-title {
	@extend .home-title;
	color: #fff;
}

p:not([align=center]) {
	text-align: justify;
}

.short-paragraph {
	width: 100%;
}

.newsletter-form-container {
	display: flex;

	.newsletter-input {
		flex: 1;
		margin-right: 5px;
	}
}

.code-examples {
	display: flex;
	flex-direction: row;
	align-items: end;
	justify-content: space-evenly;
}

.nav-menu-2 {
	overflow: auto;
}


.github-button {
	display: none;
}

.onlight {
	color: #333;
}

.code-preview {
	//width: 45%;
	filter: brightness(1.1);
}

@media (max-width: 1200px) {
	.code-examples {
		flex-direction: column;
		align-items: center;
	}
	.hide-example-on-small-screen {
		display: none;
	}

}

.docs-content a {
	text-decoration: none;
	color: #8442ec;

	&:hover {
		text-decoration: underline;
	}
}

.nav-bar {
	position: relative;

	.w-nav-link {
		font-weight: bold;

		&.active {
			color: #8442ec;
		}
	}
}

.window {
	position: relative;
	border: 1px solid #1e1e1e;
	border-top-width: 25px;
	border-radius: 5px;

	&::before {
		content: '';
		position: absolute;
		height: 0.8em;
		width: 0.8em;
		top: -18px;
		left: 6px;
		opacity: 0.8;
		border-radius: 100%;
		background: rgba(255, 0, 0, 0.8);
		box-shadow: 1.4em 0 rgba(255, 255, 0, 0.8), 2.8em 0em rgba(0, 255, 0, 0.8);
		transition: all 0.3s ease-in-out;
	}
}

.table-of-contents {
	ul {
		list-style: none;

		li {
			a {
				font-size: 14px;
				color: #333;
				text-decoration: none;

				&.active {
					color: #8442ec;
				}
			}
		}
	}
}

.highlighter-rouge {
	background: #282a36;
	color: #ffffff;
	padding: 2px 5px;
	border-radius: 5px;
	margin-bottom: 1px;
}

.docs-content {
	h1:first-child, h2:first-child, h3:first-child, h4:first-child {
		margin-top: 0;
	}
}

.section.full-screen.background-image-side {
	min-height: calc(100vh - 100px);
}

.text-center {
	text-align: center;
}

@media (max-width: 992px) {
	.github-button {
		display: inline-block;
	}
}

@media (max-width: 1024px) {

	.newsletter-form-container {
		flex-direction: column;
	}
}

@media (max-width: 767px) {
	.value-proposition-buttons {
		width: 100%;
	}
}

@media (max-width: 512px) {
	.wrapper {
		padding: 0 10px;
	}
}
