---
---
::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

* {
	scrollbar-width: thin;
	scrollbar-height: thin;
}

.home-title {
	color: #333;
	text-decoration: none;
	font-size: 40px;
	font-weight: bold;
}

.footer-title {
	@extend .home-title;
	color: #fff;
}

p:not([align=center]) {
	text-align: justify;
}

.short-paragraph {
	width: 100%;
}

.newsletter-form-container {
	display: flex;

	.newsletter-input {
		flex: 1;
		margin-right: 5px;
	}
}

.code-examples {
	display: flex;
	flex-direction: row;
	align-items: end;
	justify-content: space-evenly;
}

.nav-menu-2 {
	overflow: auto;
}


.github-button {
	display: none;
}

.onlight {
	color: #333;
}

.code-preview {
	//width: 45%;
	filter: brightness(1.1);
}

@media (max-width: 1200px) {
	.code-examples {
		flex-direction: column;
		align-items: center;
	}
	.hide-example-on-small-screen {
		display: none;
	}

}

.docs-content a {
	text-decoration: none;
	color: #8442ec;

	&:hover {
		text-decoration: underline;
	}
}

.nav-bar {
	position: relative;

	.w-nav-link {
		font-weight: bold;

		&.active {
			color: #8442ec;
		}
	}
}

.window {
	position: relative;
	border: 1px solid #1e1e1e;
	border-top-width: 25px;
	border-radius: 5px;

	&::before {
		content: '';
		position: absolute;
		height: 0.8em;
		width: 0.8em;
		top: -18px;
		left: 6px;
		opacity: 0.8;
		border-radius: 100%;
		background: rgba(255, 0, 0, 0.8);
		box-shadow: 1.4em 0 rgba(255, 255, 0, 0.8), 2.8em 0em rgba(0, 255, 0, 0.8);
		transition: all 0.3s ease-in-out;
	}
}

.table-of-contents {
	ul {
		list-style: none;

		li {
			a {
				font-size: 14px;
				color: #333;
				text-decoration: none;

				&.active {
					color: #8442ec;
				}
			}
		}
	}
}

.docs-content {
	h1:first-child, h2:first-child, h3:first-child, h4:first-child {
		margin-top: 0;
	}
}

.section.full-screen.background-image-side {
	min-height: calc(100vh - 100px);
}

.section.first-section.background-image-side {
	min-height: calc(100vh - 300px);
}

.text-center {
	text-align: center;
}

@media (max-width: 992px) {
	.github-button {
		display: inline-block;
	}
}

@media (max-width: 1024px) {

	.newsletter-form-container {
		flex-direction: column;
	}
}

@media (max-width: 767px) {
	.value-proposition-buttons {
		width: 100%;
	}
}

@media (max-width: 512px) {
	.wrapper {
		padding: 0 10px;
	}
}

.code-toolbar {
	display: flex;
	flex-direction: column;
	position: relative;

	> .highlight {
		padding-top: 0;
		padding-bottom: 0;
		order: 1;
	}

	.language-file-path {
		padding-top: 5px;
		padding-bottom: 5px;
		margin-bottom: 0;

		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-bottom: 1px solid #4c4c4c;

		.language-file-path {
			border-bottom: none;
		}
	}

}

.toolbar {
	order: 0;
	display: flex;
	justify-content: flex-end;
	position: absolute;
	top: 5px;
	right: 0;

	.button-copy-code {
		color: #eee;
		background-color: #ffffff14;
		outline: none;
		border-radius: 50px;
		padding: 3px 7px;

		&:hover {
			background-color: #ffffff38;
			cursor: pointer;
			outline: none;
		}
	}
}


.highlighter-rouge {
	background: #282a36;
	color: #ffffff;
	padding: 2px 5px;
	margin-bottom: 12px;
	border-radius: 5px;
}

p + .code-toolbar{
	margin-top: -20px;
}

.code-toolbar + .highlighter-rouge {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.tutorial-next-page {
	width: 100%;
	padding: 20px 20px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	text-align: right;

	a {
		text-align: left;
		white-space: nowrap;
		margin-left: 20px;
		font-size: 14px;
	}
}

.box-wrapper {
	display: flex;
	margin: 20px 0;

	.in-progress {
		opacity: 0.65;
		filter: saturate(0);
		pointer-events: none;
	}

	.box {
		text-decoration: none;
		flex: 1;
		display: flex;
		justify-content: space-between;
		color: inherit;
		margin: 0 25px;
		padding: 16px;
		flex-direction: column;
		align-items: center;
		border: 3px solid #5736b8;
		border-radius: 5px;
		background: #f4f2fb;
		cursor: pointer;
		transition: all 0.5s;

		&:not(.in-progress):hover {
			transform: scale(1.1);
		}

		.box-content {
			flex: 1;
			width: 100%;
			display: flex;
			justify-content: center;
			border-bottom: 1px solid #e0dbf5;
			align-items: center;
		}


	}
}
