---
---
.box-wrapper {
	display: flex;
	padding: 0 50px;
	margin: 20px 0;

	.in-progress {
		opacity: 0.65;
		filter: saturate(0);
		pointer-events: none;
	}

	.box {
		text-decoration: none;
		flex: 1;
		display: flex;
		justify-content: space-between;
		color: inherit;
		margin: 0 25px;
		flex-direction: column;
		align-items: center;
		border: 3px solid #5736b8;
		border-radius: 5px;
		background: #f4f2fb;
		cursor: pointer;
		transition: all 0.5s;

		&:not(.in-progress):hover {
			transform: scale(1.1);
		}

		.box-content {
			flex: 1;
			width: 100%;
			display: flex;
			justify-content: center;
			border-bottom: 1px solid #e0dbf5;

		}
	}
}
