<!DOCTYPE html>

<html data-wf-page="5cd61efa8463a508d5af72ae" data-wf-site="5cd2467915a5c14bc27b77af">
<head>
	<meta charset="utf-8">
	<title>Typetron</title>
	<meta content="Typetron" property="og:title">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta content="Typetron - modern framework for nodejs development written in Typescript" name="description">
	<meta content="typetron modern framework for nodejs development node typescript clean beautiful fully-featured features" name="keywords">
	<link href="style/normalize.css" rel="stylesheet" type="text/css">
	<link href="style/detheme.css" rel="stylesheet" type="text/css">
	<link href="style/kergan.detheme.css" rel="stylesheet" type="text/css">
	<link href="style/scss/main.css" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
	<script type="text/javascript">WebFont.load( { google : { families : ["Vollkorn:400,400italic,700,700italic", "Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic", "Merriweather:300,300italic,400,400italic,700,700italic,900,900italic", "PT Sans:400,400italic,700,700italic", "Roboto:regular,900"] } } );</script>
	<!-- [if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script>
	<![endif] -->
	<script type="text/javascript">!function ( o, c ) {
		var n = c.documentElement, t = " w-mod-";
		n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch")
	}( window, document );</script>
	<!--	<link href="https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico" rel="shortcut icon" type="image/x-icon">-->
	<!--	<link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">-->

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148111031-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push( arguments );
		}

		gtag( 'js', new Date() );

		gtag( 'config', 'UA-148111031-1' );
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/prism.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/prism-typescript.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism-okaidia.min.css" rel="stylesheet">

</head>
<body class="body">
	<div class="nav-bar w-nav" data-animation="default" data-collapse="medium" data-duration="400">
		<div class="wrapper navbar-2 w-container">
			<div class="div-block-8"><a class="nav-logo-2 w-inline-block home-title" href="https://typetron.org">Typetron</a>
			</div>
			<nav class="nav-menu-2 w-nav-menu" role="navigation">
				<!--				<a class="nav-link-2 w-nav-link" style="color: #ddd;">Documentation</a>-->
				<!--				<a class="nav-link-2 w-nav-link" style="color: #ddd;">Features</a>-->
				<div class="nav-cta-button-container">
					<a class="nav-link-2 border w-nav-link" href="https://github.com/typetron/typetron" target="_blank">GITHUB</a>
				</div>
			</nav>
			<div class="menu-button-2 w-nav-button">
				<div class="burger-icon w-icon-nav-menu"></div>
			</div>
		</div>
	</div>
	<div class="section full-screen background-image-side">
		<div class="wrapper">
			<div class="columns column w-row">
				<div class="column herocontent w-col w-col-8">
					<h1 class="heading">Fully featured web apps.<br></h1>
					<p class="short-paragraph">
						<b>Start with a fully featured backend using Typetron, a modern NodeJs framework for building apps with Typescript.</b>
					</p>

					<p class="short-paragraph">
						<a class="button2 w-button github-button" href="https://github.com/typetron/typetron" target="_blank">GITHUB</a>
					</p>
					<p class="short-paragraph">
						Join the newsletter to be the first to find out when major updates are coming.
					</p>
					<div class="value-proposition-container">
						<div class="value-proposition-buttons">
							{% include newsletter.html %}
						</div>
					</div>

				</div>
				<div class="w-col w-col-4">
					<img alt="" class="image" src="images/hero1.png" width="400">
				</div>
			</div>
		</div>
	</div>


	<div class="div-block-9">
		<div class="section less-v-margin">
			<div class="wrapper">
				<div class="row-2">
					<div class="col lg-6">
						<img alt="" class="side-image" data-w-id="a2b6252f-4804-1566-b140-e9f96b8c4838" src="images/performance.png" style="opacity:0" >
					</div>
					<div class="col lg-1 hidden-lg-down"></div>
					<div class="col lg-4 sm-2 lg-vertical-align">
						<div class="sm-align-centre">
							<h2 class="ondark">Performance</h2>
							<p class="margin-bottom ondark">
								Being built in Typescript with fresh, modern and clean modules from scratch, Typetron
								offers the best performance out of the box, taking advanced of the native speed of
								Node.js.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section less-v-margin" id="Solutions">
			<div class="wrapper">
				<div class="row-2 sm-reverse">
					<div class="col lg-1 hidden-lg-down"></div>
					<div class="col lg-4 sm-2 lg-vertical-align">
						<div class="sm-align-centre">
							<h2 class="ondark">Code sharing</h2>
							<p class="margin-bottom ondark">One of the main advantages of Node.js is that you can use
															the server-side code in your front-end applications.
															Typetron helps you make the code reusability seamless
															between your apps.</p>
						</div>
					</div>
					<div class="col lg-1 hidden-lg-down"></div>
					<div class="col lg-6">
						<img alt="" class="side-image" data-w-id="6894a54a-7ec3-cf46-4a35-b936bb428dba" src="images/sharing.png" style="opacity:0" >
					</div>
				</div>
			</div>
		</div>
		<div class="section less-v-margin">
			<div class="wrapper">
				<div class="row-2">
					<div class="col lg-6">
						<img alt="" class="side-image" data-w-id="a2b6252f-4804-1566-b140-e9f96b8c4838" src="images/scalability.png" style="opacity:0" >
					</div>
					<div class="col lg-1 hidden-lg-down"></div>
					<div class="col lg-4 sm-2 lg-vertical-align">
						<div class="sm-align-centre">
							<h2 class="ondark">Scaling seamlessly</h2>
							<p class="margin-bottom ondark">An intelligently designed, beautifully crafted framework
															with user and developer needs in mind, Typetron offers the
															scalability point out of the box if you want to build
															enterprise level apps.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="section code-examples">
		<img class="hide-example-on-small-screen" src="images/code-examples/entity.png">
		<img src="images/code-examples/controller.png">
	</div>

	<div class="wrapper">
		<h2 style="text-align: center;">
			Join the newsletter to get notified about major releases
		</h2>
	</div>


	<div class="section">
		<div class="wrapper">
			{% include newsletter.html %}
		</div>
	</div>


	<div class="section bggradient">
		<div class="wrapper">
			<div class="flex-horizontal-space-between footer">
				<a class="w-inline-block footer-title" href="https://typetron.org">Typetron</a>
				<div class="footer-social-links-container">
					<a class="footer-link-2 no-padding w-inline-block" href="https://www.youtube.com/channel/UCC2aMw0UzoiiepoJlLogvsg?view_as=subscriber" target="_blank"><img alt="" class="social-media-icon" src="images/iconmonstr-youtube-6.png" width="30"></a>
					<a class="footer-link-2 no-padding w-inline-block" href="https://twitter.com/TypetronWeb" target="_blank"><img alt="" class="social-media-icon" src="images/iconmonstr-twitter-1.png" width="30"></a>
					<a class="footer-link-2 no-padding w-inline-block" href="https://www.facebook.com/Typetron-662589810876633/" target="_blank"><img alt="" class="social-media-icon" src="images/iconmonstr-facebook-1.png" width="24"></a>
				</div>
			</div>
		</div>
	</div>
	<script src="js/jquery.min.js" type="text/javascript"></script>
	<script src="js/detheme.js" type="text/javascript"></script>
	<script src="js/main.js" type="text/javascript"></script>
	<!-- [if lte IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>