---
layout: home
---

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/prism-typescript.min.js"></script>
<link href="/style/code-theme.css" rel="stylesheet">

<div class="section" style="padding-top: 0;">
	<div class="wrapper">
		<div class="row">
			<div class="columns-2 w-row">
				<div class="w-col w-col-3 table-of-contents">
					<ul>
						{% assign currentPage = page.name %}
						{% for item in site.data.tutorials_toc %}
						{% assign itemPage = item.url | append: '.md' %}
						<li>
							<b>
								<a class="{% if item.title == page.title or itemPage == currentPage %}active{% endif %}" href="/tutorials/{{ item.url }}">
									{{ item.title }}
								</a>
							</b>
						</li>
						{% if item.subtitles[0] %}
						<ul>
							{% for entry in item.subtitles %}
							{% assign entryPage = entry.url | append: '.md' %}
							<li>
								<a class="{% if entryPage == currentPage %}active{% endif %}" href="/tutorials/{{ entry.url }}">
									{{ entry.title }}
								</a>
							</li>
							{% endfor %}
						</ul>
						{% endif %}
						{% endfor %}

					</ul>
				</div>
				<div class="w-col w-col-9 docs-content">
					{{content}}
				</div>
			</div>
		</div>
	</div>
</div>
